
[env]
rpc_url = "https://api.cartridge.gg/x/starknet/mainnet"
account_address = "0x05231aaeb1e500dc734368617de7352a1032767fa6420134518e96e0ea5890c6"
keystore = "../../../dopewars_key"
world_block = 889000
world_address = "0x04f3dccb47477c087ad9c76b8067b8aadded57f8df7f2d7543e6066bcb25332c"

[world]
name = "Dope Wars"
seed = "dopeseed"
description = "Dope Wars is an onchain adaptation of the classic arbitrage game Drug Wars, built by Cartridge in partnership with Dope DAO."
website = "https://dopewars.game/"
icon_uri = "file://assets/icon.png"
cover_uri = "file://assets/cover.png"
socials.x = "https://x.com/TheDopeWars"

[namespace]
default = "dopewars"

[migration]
skip_contracts = [
    "dopewars_v0-devtools",
    "dopewars_v0-paper_mock",
    "dopewars_v0-vrf_provider_mock",
]

[init_call_args]
"dopewars_v0-ryo" = [
    "0x410466536b5ae074f7fea81e5533b8134a9fa08b3dd077dd9db08f64997d113",  # PAPER address
    "0x051fea4450da9d6aee758bdeba88b2f665bcbf549d2c61421aa724e9ac0ced8f", # vrf address
    "0x026C8df51A3b2652b6FaFD2d38ea0639f9131Ef097507758adef6E983Bcb7106", # treasury / multisig address
]


[writers]
# "dopewars_v0-ERC20BalanceEvent" = ["dopewars_v0-paper_mock"]

"dopewars_v0-GameConfig" = [
    "dopewars_v0-config",
    "dopewars_v0-laundromat",
    "dopewars_v0-ryo",
]

"dopewars_v0-DrugConfig" = ["dopewars_v0-config"]
"dopewars_v0-LocationConfig" = ["dopewars_v0-config"]
"dopewars_v0-HustlerItemBaseConfig" = ["dopewars_v0-config"]
"dopewars_v0-HustlerItemTiersConfig" = ["dopewars_v0-config"]
"dopewars_v0-EncounterStatsConfig" = ["dopewars_v0-config"]

"dopewars_v0-Game" = ["dopewars_v0-game", "dopewars_v0-laundromat"]
"dopewars_v0-GameStorePacked" = ["dopewars_v0-game"]
"dopewars_v0-RyoConfig" = ["dopewars_v0-game", "dopewars_v0-laundromat", "dopewars_v0-ryo"]
"dopewars_v0-Season" = ["dopewars_v0-game", "dopewars_v0-laundromat", "dopewars_v0-ryo"]
"dopewars_v0-SeasonSettings" = [
    "dopewars_v0-game",
    "dopewars_v0-laundromat",
    "dopewars_v0-ryo",
]

"dopewars_v0-SortedList" = ["dopewars_v0-game", "dopewars_v0-laundromat"]
"dopewars_v0-SortedListItem" = ["dopewars_v0-game", "dopewars_v0-laundromat"]
"dopewars_v0-RyoAddress" = ["dopewars_v0-ryo"]

# events
"dopewars_v0-GameCreated" = ["dopewars_v0-game"]
"dopewars_v0-Traveled" = ["dopewars_v0-game"]
"dopewars_v0-GameOver" = ["dopewars_v0-game"]
"dopewars_v0-TradeDrug" = ["dopewars_v0-game"]
"dopewars_v0-UpgradeItem" = ["dopewars_v0-game"]
"dopewars_v0-HighVolatility" = ["dopewars_v0-game"]
"dopewars_v0-TravelEncounter" = ["dopewars_v0-game"]
"dopewars_v0-TravelEncounterResult" = ["dopewars_v0-game"]
#
"dopewars_v0-NewSeason" = ["dopewars_v0-laundromat"]
"dopewars_v0-NewHighScore" = ["dopewars_v0-laundromat"]
"dopewars_v0-Claimed" = ["dopewars_v0-laundromat"]

# bushido
"dopewars_v0-TrophyProgression" = ["dopewars_v0-game", "dopewars_v0-laundromat"]
"dopewars_v0-TrophyCreation" = ["dopewars_v0-ryo"]
