[package]
cairo-version = "2.12.2"
name = "rollyourown"
version = "0.1.0"
edition = "2024_07"

[cairo]
# sierra-replace-ids = true

[tool.fmt]
sort-module-level-items = true
max-line-length = 100
tab-size = 4

[[target.starknet-contract]]
sierra = true
casm = true
build-external-contracts = [
    "dojo::world::world_contract::world",
    "achievement::events::index::e_TrophyCreation",
    "achievement::events::index::e_TrophyProgression",
]


[dependencies]
starknet = "2.12.2"
dojo = "1.7.1" 
openzeppelin = "2.0.0"

cartridge_vrf = { git = "https://github.com/cartridge-gg/vrf" }
# cartridge_vrf = { path = "../vrf" }

achievement = { git = "https://github.com/cartridge-gg/arcade", branch="dojo_1.7.1" }
# achievement = { git = "https://github.com/cartridge-gg/arcade" }

dope_types = { path = "../dope-migration/cairo/types"}

[scripts]
katana = "katana --config ./katana_dev.toml"
katana_with_db = "katana --config ./katana_dev.toml --db-dir db"
torii = "torii --config ./torii_dev.toml"

# common
copy_manifest = "./scripts/copy_manifest.sh"
gendojo = "./scripts/gen.sh"
auth = "./scripts/auth.sh"
emit_items = "./scripts/emit_items.sh"

# migrate  && scarb run gendojo $PROFILE
migrate = "PROFILE=dev && sozo -P $PROFILE build && sozo -P $PROFILE migrate -vvv && scarb run copy_manifest $PROFILE && scarb run auth $PROFILE && scarb run gendojo $PROFILE && sozo -P $PROFILE inspect"
migrate_dopewars = "PROFILE=dopewars && sozo -P $PROFILE build && sozo -P $PROFILE migrate -vvv && scarb run copy_manifest $PROFILE && scarb run auth $PROFILE && sozo -P $PROFILE inspect"
#
migrate_sepolia = "PROFILE=sepolia && sozo -P $PROFILE build && sozo -P $PROFILE migrate -vvv && scarb run copy_manifest $PROFILE && scarb run auth $PROFILE && sozo -P $PROFILE inspect"
migrate_mainnet = "PROFILE=mainnet && sozo -P $PROFILE build && sozo -P $PROFILE migrate -vvv && scarb run copy_manifest $PROFILE && scarb run auth $PROFILE && sozo -P $PROFILE inspect"

# slot dopewars
slot_dopewars_katana = "slot d create -t pro --team cartridge dopewars katana --config ./katana_dopewars.toml"
slot_dopewars_torii = "slot d create -t epic --team cartridge dopewars torii --version v1.7.3 --config ./torii_dopewars.toml"

# slot sepolia 
slot_sepolia_torii = "slot d create  -t pro --team cartridge ryosepolia2 torii --version v1.8.6 --config ./torii_ryosepolia2.toml"

# slot mainnet 
slot_mainnet_torii = "slot d create -t legendary --team cartridge ryomainnet3 torii --version v1.8.6 --config ./torii_mainnet.toml"

# slot ryomainnet
# slot_ryomainnet_torii = "slot d create --tier rare ryomainnet torii -v v1.0.5 --config ./torii_mainnet.toml" 
# slot_ryomainnet_torii = "slot d create --tier legendary ryomainnet torii -v v1.0.5 --config ./torii_mainnet.toml" # with slot v0.34.0

[profile.dopewars]
[profile.sepolia]
[profile.mainnet]

